.pertners-text {
    p {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 31px;
      span {
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: 36px; 
        text-transform: capitalize;
        color: $primary-dark-blue;
      }
    }
}
.partners-logo {
    justify-content: space-evenly;
}